@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebf0fa;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main__block {
  max-width: 538px;
  width: 100%;

  margin: 102px 72px;
}

.main__title {
  color: #1f4284;
  line-height: 48px;
  font-weight: 500;

  font-size: 30px;
}

.main__description {
  margin-top: 18px;

  color: #727272;
  line-height: 27.2px;
  font-weight: 400;

  font-size: 14px;
}

.main__picture img {
  max-width: 910px;
  max-height: 456px;

  width: 100%;
}

.main__button {
  max-width: 341px;
  height: 68px;

  width: 100%;

  background-color: #244c98;
  border-radius: 100px;
  padding: 12px 12px 12px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;

  margin-top: 36px;
}

.main__button_content {
  color: #ffffff;
  font-weight: 500;
  line-height: 28.8px;
  font-size: 18px;
}
